{% load static %}
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="../core/index.html">INICIO</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="../core/acercade.html">ACERCA DE</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="../core/contacto.html">CONTACTOS</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">COCINA</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">REFRIGERACIÓN</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">CELULARES</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">OFERTAS</a>
              </li>

          </ul>
      </div>
  </div>
</nav>
