{% extends 'core/base.html' %}
{% load static %}
{% load tags %}

{% block title %}Acerca de - Hogaritec{% endblock %}

{% block content %}
{% include 'tags/header.html' %}

<main>
  <section class="about-section container my-5">
    <h1 class="text-center mb-4">Acerca de Hogaritec</h1>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <p>Bienvenido, tu destino en línea para los mejores electrodomésticos. Nos especializamos en ofrecer productos
          de alta calidad a precios competitivos, asegurando que cada cliente encuentre lo que necesita para hacer su
          hogar más funcional y cómodo.</p>
        <p>Nuestra misión es proporcionar una experiencia de compra excepcional, con atención al cliente de primer
          nivel y una selección variada de productos. Creemos que todos merecen acceso a tecnología de vanguardia y
          electrodomésticos que faciliten la vida diaria.</p>
      </div>
    </div>

    <h2 class="text-center my-4">¿Por qué elegirnos?</h2>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <ul> <!-- Asegúrate de que esto esté dentro de una lista -->
          <li>Variedad de productos de las mejores marcas.</li>
          <li>Precios competitivos y ofertas especiales.</li>
          <li>Envío rápido y seguro a tu domicilio.</li>
          <li>Soporte al cliente amigable y disponible.</li>
        </ul>
      </div>
    </div>

    <h2 class="text-center my-4">Acerca del equipo de fundadores</h2>
    <div class="row text-center">
      <p>
        Somos estudiantes de la Facultad de Ingeniería de San Salvador de Jujuy, y estamos lanzando
        nuestra página de ventas de electrodomésticos para toda la comunidad. Cuenta con la página de inicio
        donde encontrarás los productos más destacados y las distintas opciones para comprar y agregar cosas
        a tu carrito, esta pestaña con información sobre la empresa y nosotros los fundadores, y una pestaña
        de contactos para que nos encuentres y nos puedas comunicar tus inquietudes, tus dudas, o simplemente
        dejarnos tu mensaje de apoyo hacia nuestro trabajo.
      </p>
      <div class="col-lg-4 col-md-6 mb-4">
        <figure class="figure">
          <img src="{% static 'imgs/general/fotoAlex.png' %}" class="figure-img img-fluid rounded-circle" alt="Alex"
            height="200" width="200">
          <figcaption class="figure-caption mt-3">
            <h3>Alex Gabriel Calatayud</h3>
            <p>xx años, estudiante de Ingeniria informatica en la Facultad de Ingeniería de Jujuy</p>
          </figcaption>
        </figure>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <figure class="figure">
          <img src="{% static 'imgs/general/fotoLuis.png' %}" class="figure-img img-fluid rounded-circle" alt="Luis"
            height="200" width="200">
          <figcaption class="figure-caption mt-3">
            <h3>Luis Carlos Manuel Mamaní</h3>
            <p>xx años, estudiante de I. Informática en la Facultad de Ingeniería de Jujuy</p>
          </figcaption>
        </figure>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <figure class="figure">
          <img src="{% static 'imgs/general/fotoLucas.png' %}" class="figure-img img-fluid rounded-circle" alt="Lucas"
            height="200" width="200">
          <figcaption class="figure-caption mt-3">
            <h3>Lucas Ezequiel Romero</h3>
            <p>19 años, estudiante de I. Informática en la Facultad de Ingeniería de Jujuy</p>
          </figcaption>
        </figure>
      </div>
    </div>

    <h2 class="text-center my-4">Contáctanos</h2>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <p class="text-center">Si tienes alguna pregunta o necesitas más información, no dudes en <a
            href="#">contactarnos</a>. Estamos aquí para ayudarte.</p>
      </div>
    </div>
  </section>
</main>

{% include 'tags/footer.html' %}
{% endblock %}
