{% extends 'core/base.html' %}
{% load static %}
{% load tags %}

{% block title %}Artículo{% endblock %}

{% block content %}
{% include 'tags/header.html' %}
<main>
    <div id="imagen-producto">
        <img class="producto" src="static/imgs/product2.png"  alt="Producto">
    </div>
    <div class="datos-importantes">
        <h1 class="nombre-producto">Producto</h1>
        <h2 class="precio">$12.345,67</h2>
        <h3 class="descripcion-producto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi facilis illo eveniet facere similique eius magni sequi exercitationem, maxime veniam non adipisci mollitia sit assumenda dolorum fugiat cupiditate vero quibusdam.</h3>
        <button class="agregar-carrito">Agregar al carrito</button>
        <input type="number" class="agregar-productos" value="1" min="1" aria-label="Cambiar cantidad" data-component="adding-amount.value">
        <h4 class="envios-gratis">Envíos gratis a partis de $12.345,67</h4>
    </div>
    <div class="otros-productos">
        <h2 class="mas-productos">Otros productos relacionados</h2>
    </div>
</main>

{% include 'tags/footer.html' %}
{% endblock %}