{% extends 'core/base.html' %}
{% load static %}
{% load tags %}

{% block linkStyle %}
<link rel="stylesheet" href="{% static 'css/categorias.css' %}">
{% endblock %}
{% block title %}Productos por categoría{% endblock %}

{% block content %}
{% include 'tags/header.html' %}
<main>
    <h1>Catálogo de Productos</h1>
    <hr class="divisor">
    <div class="productos">
        <article class="producto"> 
            <img class="producto-1" src="static/img/celular.webp" alt="Producto 1">
            <div class="producto-info">
                <h3 class="producto-nombre">Producto 1</h3>
                <p class="producto-descripcion">Descripción breve del Producto 1. Características principales y beneficios.</p>
                <div class="producto-pie">
                <span class="producto-precio">$29.99</span>
                <button class="boton-carrito" aria-label="Añadir al carrito">+</button>
                </div>
            </div>
        </article>
        <article class="producto">
            <img src="static/img/heladera.webp" alt="Producto 2">
            <div class="producto-info">
                <h3 class="producto-nombre">Producto 2</h3>
                <p class="producto-descripcion">Descripción breve del Producto 2. Características principales y beneficios.</p>
                <div class="producto-pie">
                    <span class="producto-precio">$39.99</span>
                    <button class="boton-carrito" aria-label="Añadir al carrito">+</button>
                </div>
            </div>
        </article>
        <article class="producto">
            <img src="static/img/licuadora.webp" alt="Producto 3">
            <div class="producto-info"> <h3 class="producto-nombre">Producto 3</h3>
                <p class="producto-descripcion">Descripción breve del Producto 3. Características principales y beneficios.</p>
                <div class="producto-pie">
                    <span class="producto-precio">$49.99</span>
                    <button class="boton-carrito" aria-label="Añadir al carrito">+</button>
                </div>
            </div>
        </article>
        <article class="producto">
            <img src="static/img/appleWatch.webp" alt="Producto 4">
            <div class="producto-info">
                <h3 class="producto-nombre">Producto 4</h3>
                <p class="producto-descripcion">Descripción breve del Producto 4. Características principales y beneficios.</p>
                <div class="producto-pie">
                    <span class="producto-precio">$59.99</span>
                    <button class="boton-carrito" aria-label="Añadir al carrito">+</button>
                </div>
            </div>
        </article>
    </div>
    <nav class="navegacion">
        <button aria-label="Página anterior">← Anterior</button>
        <button aria-label="Página siguiente">Siguiente →</button>
    </nav>
</main>
{% include 'tags/footer.html' %}
{% endblock %}