.producto{
    height: 400px;
    margin: 100px;
    float: left;
}

.datos-importantes{
    padding: 0px;
    margin-block: 500px;
}

.nombre-producto{
    color: rgb(50, 118, 173);
    font-weight: 700;
    font-size: 40px;
}

.precio{
    color: rgb(19, 45, 116);
    font-size: 50px;
}

.descripcion-producto{
    font-weight: 500;
    text-align: justify;
    color: black;
}

.envios-gratis{
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
}

.agregar-carrito{
    padding: 15px 30px;
    background-color: rgb(50, 118, 173);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
}
.agregar-carrito:hover{
    background-color: rgb(37, 80, 116);;
}
.agregar-carrito:active{
    background-color: rgb(41, 95, 139);
}

.agregar-productos{
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 173);
    text-align: center;
}
.agregar-productos:hover{
    background-color: rgb(37, 80, 116);
    border: none;
}
.agregar-productos:active{
    background-color: rgb(41, 95, 139);
    border: none;
}

.otros-productos{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
    text-align: center;
}

.mas-productos{
    text-decoration: underline;
    text-align: center;
    font-size: 40px;
    color: rgb(50, 118, 173);
    font-weight: 900;
}