.main-section {
  margin: 0 5vw 100px;

}

/* SECTION 1 --------------------------------------------------------------- */
.hero-banner {
  margin-bottom: 100px;
}

/* SECTION 2 -------------------------------------------------------------- */

.special-offers {
  border-radius: 20px;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2);
}

.special-offers .offers-header h2 {
font-size: 30px !important;
font-weight: 800 !important;
text-shadow: 0.5px 0.5px #423E28, -0.5px -0.5px #423E28;
color: #423E28;
}

.offers-header {
  text-align: start;
  padding: 5px 30px;
  border-radius: 10px 10px 0 0;
  
  background-image: url('../imgs/general/patron1.svg'),
                    linear-gradient(90deg, var(--quaternary-color), var(--primary-color), var(--secondary-color));
  background-blend-mode: overlay;
  background-size: cover, 200% 200%;
  background-position: center, 0% 0%;
  animation: colorShift 10s infinite linear;
}

@keyframes colorShift {
  0% {
    background-position: center, 0% 0%;
  }
  50% {
    background-position: center, 100% 0%;
  }
  100% {
    background-position: center, 0% 0%;
  }
}


/* Estilos del carousel de cards */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-card{
  border-width: 0px;
}

.card-carousel__price{
  color: silver;
  text-decoration: line-through;
}

.card-carousel__discount{
  color: var(--secondary-color);
}

.card-carousel__btn{
  height: 50px;
  border-radius: 20px;
  border-width: 0px;
  background-color: var(--primary-color);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cart-icon{
  width: 30px;
}

/* OFERTAS ESPECIALES */

/* Contenedor principal de ofertas especiales */
.special-offers {
box-sizing: border-box;
position: relative;
}

/* Estilos de tarjeta de producto */
.product-card {
flex: 1;
max-width: 400px;
border-radius: 8px;
text-align: center;
}

.product-card img {
width: 100%;
max-height: 100%;
object-fit: cover;
}

/* Botones de navegación del carrusel en móviles */
.swiper-button-prev, .swiper-button-next {
display: block;
position: absolute;
top: 50%;
transform: translateY(-50%);
width: 40px;
height: 40px;
background: rgba(0, 0, 0, 0.5);
color: white;
border-radius: 50%;
cursor: pointer;
z-index: 10;
}

.swiper-button-prev {
left: 10px;
}

.swiper-button-next {
right: 10px;
}

.desktop-products {
display: flex; /* Activar flexbox */
justify-content: center; /* Centra horizontalmente los productos */
align-items: center; /* Centra verticalmente los productos */
flex-wrap: wrap; /* Permite que los productos se envuelvan si es necesario */
gap: 100px; /* Espacio entre las tarjetas de producto */
width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

.desktop-products .product-card {
  position: relative;
  padding-right: 25px; /* Espacio entre el contenido y la línea */
}

.desktop-products .product-card::after {
  content: "";
  position: absolute;
  top: 20px; /* Ajusta este valor para bajar la línea */
  right: -54px; /* Ajusta este valor para mover la línea a la derecha */
  width: 2px;
  height: 90%; /* Ajusta la altura de la línea */
  background-color: aquamarine; /* Color celeste de la línea */
}

.desktop-products .product-card:last-child::after {
  display: none; /* Oculta la línea en el último producto */
}



/* Estilo para las tarjetas de productos */
.product-card {
display: flex;
flex-direction: column;
text-align: center;
padding: 45px;
width: 200px;
}

/* Estilo de fila para escritorio */
@media (min-width: 768px) {
.products-container {
  justify-content: space-around;
  flex-wrap: nowrap;
}

/* Ocultar botones de navegación en escritorio */
.swiper-button-prev,
.swiper-button-next {
  display: none;
}
}


/* SECTION 3 -------------------------------------------------------------- */



.featured-products {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.featured__title-products {
  text-align: start;
  width: 100%;
  border-bottom: 2px solid var(--primary-color);
  margin-bottom: 40px;
}


/* card2 */
.card {
  width: 250px;
}


.card-buy {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.btn-cart {
  border: 0px;
  padding: 8px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

/* SECTION 4 ------------------------------------------------------------------- */
.newsletter-signup {
  color: white;
  padding: 40px 20px;
  background-image: url("../imgs/general/patron2.png");
  background-color: var(--secondary-color);
}

.suscribe-button2 {
  background-color: black;
}

@media (min-width: 576px) {
  .featured-products {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      gap: 18px;
  }

  .featured__title-products {
      text-align: start;
      width: 100%;
      border-bottom: 2px solid var(--primary-color);
      margin-bottom: 40px;
  }


  /* SECTION 4 */
  .newsletter-signup {
      text-align: start;
      color: white;
      padding: 40px 20px;
  }

  .newsletter-signup h2{
    margin-left: 100px;
  }

  .newsletter-signup p{
    margin-left: 100px;
  }

  .forms-suscribe {
      display: flex;
      justify-content: space-around;
      align-items: center;
  }

  .suscribe-input {
      width: 50%;

  }

  .suscribe-button2 {
      width: 30%;
      padding: 11px 15px;
      margin: 0px;
  }

}

/* Para escritorio (pantallas grandes) */
@media (min-width: 1024px) {}