<!-- core/templates/core/index.html -->
{% extends 'core/base.html' %}
{% load static %}
{% load tags %} 

{% block title %}Inicio - Hogaritec{% endblock %}

{% block content %}
    {% include 'tags/header.html' %}
    {% include 'tags/carousel.html' %}
    {% include 'tags/special_offers.html' %}
    {% include 'tags/featured_products.html' %}
    {% include 'tags/newsletter.html' %} # Aquí se incluye el formulario de suscripción
    {% include 'tags/footer.html' %}

    <!-- Scripts del swiper js -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{% static 'js/carousel.js' %}"></script>
    <script src="{% static 'js/product.js' %}"></script>
{% endblock %}

