<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

    <!-- Bootstrap CSS -->

    <!-- Bootstrap Icons -->

    <!-- Swiper -->
    
    <!-- Local styles -->

    {% block linkStyle %} {% endblock %}

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <title>{% block title %}Hogaritec - Tienda de Electrodomésticos{% endblock %}</title>
</head>

<body>
    {% block content %}
    <!-- El contenido específico de cada página se incluirá aquí -->
     
    {% endblock %}
    <!-- Scripts -->
    <!-- Bootstrap JS and Popper.js -->
</body>
</html>
